<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="settingsForm.value.login">
        Ajustes del usuario [<strong>{{ settingsForm.value.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>¡Ajustes guardados!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.value.login" novalidate>
        <div class="mb-3">
          <label class="form-label" for="firstName">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Su nombre"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required">
              Se requiere que ingrese su nombre.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
              Se requiere que su nombre tenga por lo menos 1 caracter
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
              Su nombre no puede tener más de 50 caracteres
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="lastName">Apellidos</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Sus apellidos"
            formControlName="lastName"
            data-cy="lastname"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required">
              Se requiere que ingrese sus apellidos.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength">
              Se requiere que sus apellidos tengan por lo menos 1 caracter
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
              Sus apellidos no pueden tener más de 50 caracteres
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Su correo electrónico"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required">
              Se requiere un correo electrónico.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email">
              Su correo electrónico no es válido.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              Se requiere que su correo electrónico tenga por lo menos 5 caracteres
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
              Su correo electrónico no puede tener más de 50 caracteres
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>
