<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cantidad">
      <h2 data-cy="cantidadDetailsHeading"><span>Cantidad</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cantidad.id }}</span>
        </dd>
        <dt><span>Nombre Cuenta</span></dt>
        <dd>
          <span>{{ cantidad.nombreCuenta }}</span>
        </dd>
        <dt><span>Cantidad Actual</span></dt>
        <dd>
          <span>{{ cantidad.cantidadActual }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/cantidad', cantidad.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
