<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Restablecer la contraseña</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">Falta la clave de reinicio.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Elija una contraseña nueva</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span
          >Su contraseña no puede ser restablecida. Recuerde que una solicitud de reinicio de contraseña sólo es válida durante 24
          horas.</span
        >
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Su contraseña ha sido restablecida.</strong> Por favor, </span>
        <a class="alert-link" routerLink="/login">iniciar sesión</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">¡La contraseña y la confirmación de contraseña no coinciden!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Nueva contraseña</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nueva contraseña"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Se requiere que ingrese una contraseña.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Se requiere que su contraseña tenga por lo menos 4 caracteres
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Su contraseña no puede tener más de 50 caracteres
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Confirmación de la nueva contraseña</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirmación de la nueva contraseña"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Se requiere que confirme la contraseña.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Se requiere que su contraseña de confirmación tenga por lo menos 4 caracteres
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Su contraseña de confirmación no puede tener más de 50 caracteres
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
            Validar la nueva contraseña
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
